<div class="modal-overlay">
  <div class="modal-container bg-white p-4">
    <!-- Child component content -->
    <h2>Message Form</h2>
    <form class="form-inline" #f="ngForm" name="form" novalidate (ngSubmit)="sendMessage(f)">
      <div class="input-group">
        <input type="hidden" id="targetid" name="targetid" [(ngModel)]="targetid" required>
        <input type="hidden" id="sourceid" name="sourceid" [(ngModel)]="sourceid" required>
        <input type="text" id="body" name="body" class="form-control" [(ngModel)]="body" placeholder="Enter your message" required>
        <div class="input-group-append">
          <button type="submit" class="btn btn-success">Send Message</button>
        </div>
      </div>
    </form>
    <button class="btn btn-secondary" (click)="closeMessages()">Close</button>
  </div>
</div>

