<div class="container">
  <h1>{{ type }}</h1>
  <div class="row">
    <div class="col-12">
      <div class="card mb-3" *ngFor="let follow of follows">
        <div class="card-body">
          <div class="row">
            <div class="col-2">
              <img class="img-fluid rounded-circle" [src]="follow.profile_picture" alt="Profile Picture">
            </div>
            <div class="col-10">
              <h5 class="card-title">{{ follow.name }}</h5>
              <p class="card-text">{{ follow.username }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

