.navbar {
  background-color: #f8f9fa;
}

.navbar-brand {
  font-weight: bold;
}

.navbar-toggler-icon {
  background-color: #000;
}

.navbar-nav .nav-link {
  color: #000;
}

.notification-icon {
  position: relative;
  margin-left: 20px;
}

.notification-icon .bi-bell {
  font-size: 1.5rem;
}

.notification-icon .nav-link {
  font-weight: bold;
}

.red-icon {
  color: red;
}

.logout-btn {
  margin-left: auto;
}
