<div class="container">
  <h2>User Search</h2>
  <div class="row">
    <div class="col-md-4" *ngFor="let user of users">
      <div class="card mb-3">
        <img class="card-img-top" [src]="'assets/images/'+user.profile_picture" alt="User Profile">
        <div class="card-body">
          <h5 class="card-title">{{ user.name }} {{ user.last_name }}</h5>
          <p class="card-text">@{{ user.nickname }}</p>
          <div class="d-flex justify-content-between">

            <form class="form-inline" #f="ngForm" name="form" novalidate (ngSubmit)="sendRequest(f)">
              <div class="input-group">
                <input type="hidden" id="targetId" name="targetId" [(ngModel)]="user.id">
                <input type="hidden" id="sourceId" name="sourceId" [(ngModel)]="id">
                <button type="submit" class="btn btn-success">Send Request</button>
              </div>
            </form>




            <button class="btn btn-primary" (click)="toggleMessageForm()">Send Message</button>
          </div>
        </div>
      </div>
      <!-- Message Form -->
    <form *ngIf="showMessageForm">
      <!-- Form fields and submit button -->
    </form>
    </div>
  </div>
</div>

