<p>
  {{ user | json }}

</p>
<div *ngIf="successMessage" class="success-message">{{ successMessage }}</div>
<ng-container *ngIf="user">
  <div class="container">

    <!-- Statistics row -->
    <div class="row mt-4">
      <div class="col-md-4">
        <div class="statistic">
          <div class="statistic-value">{{ numberPictures }}</div>
          <div class="statistic-label">Pictures</div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="statistic">
          <div class="statistic-value">{{ numberFollowers }}</div>
          <div class="statistic-label">Followers</div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="statistic">
          <div class="statistic-value">{{ numberFollowing }}</div>
          <div class="statistic-label">Following</div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="card mb-3">
          <img class="card-img-top" [src]="'assets/images/' + user.profile_picture" alt="Profile Picture">
          <div class="card-body">
            <h5 class="card-title">{{ user.nickname }}</h5>
            <p class="card-text">{{user.bio}}</p>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-4">
            <div class="card mb-3">
              <img class="card-img-top" src="path-to-photo1.jpg" alt="Photo 1">
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-3">
              <img class="card-img-top" src="path-to-photo2.jpg" alt="Photo 2">
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-3">
              <img class="card-img-top" src="path-to-photo3.jpg" alt="Photo 3">
            </div>
          </div>
          <!-- Add more photo cards as needed -->
        </div>
      </div>
    </div>
  </div>
</ng-container>

